*{margin: auto;}
#wrapper
{
    width: 500px;
    background-color: gainsboro;
    padding: 10px;
    margin: 50px auto 0px;
    border-radius: 10px;
    background-image: url(../hinh/content.jpg);
    color:#f4a28c;
    font-size: 20px;
}
.form-group
{
    margin: 10px 0px;
}
.f-ctrl
{
    width: calc(100% - 10px);
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: 1px solid darkblue;
    box-shadow: 0 0 3px blue;
    margin-top: 5px;
}
fieldset
{
    width: calc(100% - 28px);
    border: 1px solid blue;
    box-shadow: 0 0 3px blue;
    border-radius: 3px;
}
legend
{
    background-color: gainsboro;
}
.form-group label
{
    font-weight: bold;
    font-variant: small-caps;
}
.f-ctrl:focus
{
    background-color: whitesmoke;
    box-shadow: 0 0 3px red;
    border: 1px solid yellow;
}
.f-btn
{
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    box-shadow: inset 0 0 20px red;
    text-align: center;
}
.f-btn:hover, .f-btn:focus
{
    color: blue;
    box-shadow: inset 0 0 20px orangered;
}
.f-btn:disabled
{
    box-shadow: inset 0 0 20px gray;
    color: orangered;
}
#btn-zone
{
    border-top: 1px solid black;
    padding-top: 10px;
}
form
{
    background-image: url(../hinh/5.jpg);
}
#loi
{
    font-size: 30px;
    color: wheat;
    background-color: black;
    border-radius: 20px;
    text-align: center;

}
