*{margin: auto;}
.x
{
width: 600px;
height: auto;
border: 3px red solid;
border-radius: 10px;
padding: 3px;
text-align: center;
background-color: aqua;
}
button
{
    background-color: yellow;
    width: 50px;
    height: 50px;

}