body{color: wheat;}
form {
    width: 600px;
    margin:100px auto;
    border: 1px solid darkslategrey;
    box-shadow: 2px 2px 1px darkcyan;
    border-radius: 5px;
    font-size: 1.2em;
    transform: rotate(-10deg);
}
label { width: 120px; display: inline-block;}
p, h2 { margin-left: 15px;}
input[id], select {
    padding: 8px;
    width: 420px;
    background-color: salmon;
    border: none;
}
button {
    width: 140px;
    height: 40px;
    border: none;
    background-color: darkgoldenrod;
}
